*{
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
        border: 5px solid red;

h1{
    color:navy;
    text-align: center;
    font-family: sans-serif;
}

h2{
    color:navy;
    text-align: center;
}

.flex-container{
    display: flex;
         
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 50px;

}

.flex-item{
    border: 5px solid red;
    width: 700px
   

}

.image1{
    width: 690px;
    height: 370px;
    margin-right: 2%;
    margin-bottom:2%;
}


.box2{
    margin-right: 20px;
    margin-left: 25px;
    display: Bottom left;
    width: 500px;

}





h3{
    color:hotpink;
    font-size:22px;
    margin: 5px;
    padding-bottom: 25px;
}

