*{
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
      

h1{
    color: navy;
    text-align: center;
    font-family: sans-serif;
}

h2{
    color:navy;
    text-align: center;
}

.flex-container{
    display: flex;
         
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 50px;

}

.flex-item{
    border: 5px solid red;
    width: 700px
   

}

.image1{
    width: 690px;
    height: 370px;
    margin-right: 2%;
    margin-bottom:2%;
}


.box2{
    margin-right: 20px;
    margin-left: 25px;
    display: Bottom left;
    width: 500px;

}


h3{
    color:hotpink;
    font-size:22px;
    margin: 5px;
    padding-bottom: 25px;
}

.square {
  height: 250px;
  width: 250px;
  background-color: aqua;
}

.circle {
  height: 250px;
  width: 250px;
  background-color: orangered;
  border-radius: 50%;
}


/* hover overlay*/
          
.container1{
display: flex;
margin-top: 2%;
margin-left: 5%;
}

  
        .container img { 
            width: 250px; 
            height: 250px; 
        } 
          
        .container { 
            position: relative; 
            width: 250px; 
            height: auto; 
margin-right: 3%;
        } 
          
        .overlay { 
            position: absolute; 
            transition: all 0.0s ease; 
            opacity: 0; 
            background-color: #808A74; 
        } 
          
        .container:hover .overlay { 
            opacity: .85; 
        } 
          
        .overlayFade { 
            width: 250px; 
height: 250px; 
            top: 0px; 
            left: 0px; 
            background-color: #808A74; 
        } 

  .overlayFade2 { 
            width: 250px; 
height: 250px; 
            top: 0px; 
            left: 0px; 
            background-color: #808A74; 
  border-radius: 50%;
        } 
 

/* hover overlay done*/